html{
	padding:   30px;
}
.container {
	display:flex;
}

.main {
	flex-basis: 70%;
	padding:0.01rem;
}

.side {
  	flex-basis: 30%;
	padding:0.01rem;
}

.now-value {
	color:#596D6A;
}

#prep1-result-one, #prep1-result-another {
	margin-left:30px;
	color:#454545;
	font-size:20px;
}

.preparation-result, #notice1, #prep2-subcontainer1, #prep2-subcontainer2, #prep2-subcontainer3 {
	display:none;
}

