<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     
   <!--  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>-->
	<link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{~/css/style.default.css}" />
	<title>PCR</title>
    <style>
    </style>


</head>
<script th:inline="javascript">	
	//fires as soon as the page's DOM is ready (doesn't wait for images, etc.).
	$( document ).ready(function() {
		console.log("$( document ).ready");
		//const todayWeather = [[${todayWeather}]];
		//console.log(todayWeather);
		
	});
</script>

<body>
<div class="preparation">
	<p>preparation step</p>
	<p><button>run</button> 1.create a sequence of dna. Enter the length of dna you want to get</p>
	<p></p>
	<p><button>run</button> 2.search a primer whose sequence coincides with part of the dna you created.</p>
	     if there's no primer, you can create your own primer
	<p><button>run</button>  3.now the system brings polymerase enzyme & buffer
</div>

<div class="preparation-result">
	<p>Preparation step completed. Run the pcr process</p> 
</div>

<div class="pcr">
	<p>pcr process</p>
	<p><button>run</button> 1.denaturation</p>
	<p><button>run</button> 2.annealing</p>
	<p><button>run</button> 3.extension</p>

</div>

<div class="pcr-result">
	<p>PCR process completed</p>
	<p>-------The result-------</p>
</div>

<div class="goto-page">
	<a href="/admin">go to admin page</a>
	<br>
	<a href="/user">go to user's mypage</a>
</div>

<div class="now">
	<span>now |</span> <span>temp</span> <span>weather</span> <span>city</span> 
	<span th:text="${todayWeather}"></span><br/>
	<span th:text="${test}"></span><br/>
</div>

</body>
</html>