<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     
   <!--  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>-->

	<link rel="stylesheet" th:href="@{/style.css}" />

	<title>PCR</title>
    <style>
    </style>


</head>
<script th:inline="javascript">	
	//fires as soon as the page's DOM is ready (doesn't wait for images, etc.).
	$( document ).ready(function() {
		console.log("$( document ).ready");
		//const todayWeather = [[${todayWeather}]];
		//console.log(todayWeather);
		
	});
</script>

<body>
<div class="container">	
	<div class="main">
		<div class="preparation">
			<p><strong>preparation step</strong></p>
			<p><button id="prep1">run</button> 1.create a sequence of dna. Enter the length of dna you want to get: 		
			<input id="dLength" name="dLength" placeholder="ex.23" size="4" value="15"> </p>
			<p id="notice1">The following dna has been created now...</p>
			<p id="prep1-result-one" class="prep1-result"></p>
			<p id="prep1-result-another"></p>
			
			<p></p>
			<div id="prep2-container">
				<div id="prep2-subcontainer1">
				<p><button id="prep2">run</button> 2.click the starting point(base) of extension on the two strands above. 
													We will find suitable primers.
				</div>
				<div id="prep2-subcontainer2">
					<p>You clicked the base <span id="base-upperstrand"></span> on Upper Strand . 
					<p>You clicked the base <span id="base-lowerstrand"></span> on Lower Strand.
					<p>Do you really want this base to be the starting point of extension?</p> 
					<button id="yes">yes</button>
					<button id="no">no</button></p>
				</div>
				<div id="prep2-subcontainer3-yes">
					<p>We found an compatible primer <span></span> from our database as below</p>
					<p>now the system brings the polymerase enzyme & buffers...
					<p>Preparation step completed. Run the pcr process</p> 
				</div>
				<div id="prep2-subcontainer3-no">
					<p>click another starting point(base) of extension</p>
				</div>
			</div>
			
		</div>

		
		<div class="pcr">
			<p><strong>pcr process</strong></p>
			<p><button id="pcr1">run</button> 1.denaturation</p>
			<p> 2.annealing</p>
			<p> 3.extension</p>
		</div>
		
		<div class="pcr-result">
			<p>PCR process completed</p>
			<p>-------Result Board-------</p>
		</div>
		
	</div>
	
	<div class="side">	
	    <div class="login">
			<p><strong>login info</strong></p>
			<span>id</span>&nbsp
			<span>logout</span>&nbsp
			<span>signout</span>&nbsp
		</div>
		<br>	
		<div class="now">
			<p><strong>now</strong></p>
			<span>temp</span>&nbsp<span class="now-value" th:text="${todayWeather.main.temp}"></span>
			<span>weather</span>&nbsp<span class="now-value" th:text="${todayWeather.weather[0].description}"></span>
			<span>city</span>&nbsp<span class="now-value" th:text="${todayWeather.name}"></span>
		</div>
		<br>
		<div class="goto-page">
			<a href="/admin">go to admin page</a>
			<br>
			<a href="/user">go to user's mypage</a>
		</div>
	</div>
</div>		
</body>
<script th:src="@{/script.js}"></script>
</html>