<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
   <!--  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>-->
	<link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{~/css/style.default.css}" />
	<title>PCR</title>
    <style>
    </style>


</head>
<script th:inline="javascript">	
	//fires as soon as the page's DOM is ready (doesn't wait for images, etc.).
	$( document ).ready(function() {
		console.log("$( document ).ready");
		//const todayWeather = [[${todayWeather}]];
		//console.log(todayWeather);
		
	});
	

</script>
<body>

<p>enter a sequence of one dna strand</p>
<form>GTATTACCTAGGGATCA<form>
<br>
<a href="/admin">go to admin page</a>
<br>
<a href="/user">go to user's mypage</a>
<section>
<span>now |</span> <span>temp</span> <span>weather</span> <span>city</span> 
<!--<span th:text="${todayWeather}"></span><br/>-->
<!--<span th:text="${test}"></span><br/>-->
</section>

</body>
</html>